.accessibility {
  color: darkmagenta;
  background-color: yellow; 
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem;
  border: .5rem solid blueviolet;
}

.visibility-hidden {
  visibility: hidden;
}

.accessibility-div {
  color: midnightblue;
  background-color: lightblue; 
  font-size: .8rem;
  padding: .5rem;
  margin: 0 5rem;
  border: .25rem solid lightskyblue;
  border-radius: .5rem;
}

.height-width-zero {
  height: 0;
  width: 0;
}

.outside-of-the-screen {
  position: absolute;
  left: -99999px
}