.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: darkred;
  color: whitesmoke;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: .5rem; /* shorthand property for grid-column-gap and grid-row-gap */
  background-color: darkslateblue;
  margin-top: 1rem;
  padding: .5rem;
}

.App-grid > div {
  background-color: aliceblue;
  padding: .5rem 0;
}

.App-grid > div:hover {
  background-color: lightblue;
}

.App-grid > div > Link {
  text-decoration: none;
}

.bigger-grid-item {
  grid-column-start: 2; /* inclusive */
  grid-column-end: 4; /* exclusive - in columns 2 & 3 */
}