.hideButton {
  color: deepskyblue;
  background-color: aquamarine; 
  font-weight: bold;
  font-size: 25px;
  border: 5px solid darkslateblue;
  border-radius: 5px;
}

.changeLanguageButton {
  color: slategrey;
  background-color: gold;
  font-weight: italic;
  font-size: 15px;
  border: 2px solid goldenrod;
  border-style: inset;
  transition-property: border-radius background-color font-weight color;
  transition-duration: .2s, 1s;
  transition-timing-function: linear;
}

.changeLanguageButton:hover {
  border-radius: 50%;
  background-color: moccasin;
  font-weight: bold;
  color: darkred;
}

.languageContainer {
  padding: 20px 10px 10px 10px;
  font-style: italic;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-shadow: 1px 2px 0 rgba(255,0,180,0.5);
}

.hiddenState {
  display: none;
}