.cards-container {
  display: flex;
  width: 100%;
  cursor: pointer;
  height: 150px;
  perspective: 600;
  background: green;
}

.card {
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  padding-top: 15px;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
  background: green;
  text-align: center;
  transform: rotateY(180deg);
}

.card-style {
  height: 120px;
}