.positioning {
  color: mintcream;
  background-color: coral; 
  font-size: 1rem;
  padding: .5rem;
  margin: .5rem;
  border: .25rem solid crimson;
}

.positioning--static {
  position: static;
}

.positioning--relative {
  position: relative;
}

.positioning--absolute {
  position: absolute;
}

.positioning--fixed {
  position: fixed;
}

.positioning--sticky {
  position: sticky;
}

.positioning--float {
  color: lightpink;
  background-color: darkmagenta; 
  border: .25rem solid darkviolet;
  float: right;
}

.positioning--parent-container {
  margin: 0 auto;
  height: 120px;
  border: 1px solid;
}

.positioning--parent-float {
  max-width: 25rem;
}

.positioning--floating-duck {
  float: right;
}

.positioning-z-index {
  color: honeydew;
  background-color: gray;
  font-size: 1rem;
  padding: .5rem;
  margin: .25rem .5rem;
  border: .25rem double;
}

.positioning--z-index-1 {
  z-index: 1;
}

.positioning--box-model {
  box-sizing: border-box; 
  color: greenyellow;
  background-color: seagreen; 
  font-size: 1rem;
  padding: 1.5rem;
  margin: .5rem 2rem;
  border: .125rem solid springgreen;
}

.positioning--inline-block {
  display: block;
  color: snow;
  background-color: tomato; 
  font-size: .8rem;
  padding: .5rem;
  border: .25rem solid sienna;
}

.positioning--inline-block-parent {
  width: 40rem;
}