/* .scss files 
.dropdown-list {
  #code1

  &__select {
    #code2


would need to 'npm run eject' and then 
npm install sass-loader node-sass --save-dev
which I don't want to do now, so sticking BEM into css. */

.dropdown-list {
  margin: 2rem;
}

.dropdown-list__select {
  position: relative;
  width: 50%;
  height: 3rem;
  padding: .5rem 4rem .5rem 1rem;;
  background: thistle;
  border: .25rem solid;
  appearance: none;
  font-family: Verdana;
  font-size: 1.25rem;
  color: purple;
}

.dropdown-list__select:focus {
  /* by default a select has an outline when focused */
  outline: none;
}

.dropdown-list__icon {
  position: relative;
  top: .5rem;
  right: 2.5rem;
  width:  2rem;
  height: 2rem;
  fill: purple;
  background: transparent;
  transform: rotate(180deg);
  /* to make the dropdown list clickable through the icon */
  pointer-events: none;
}
