.paragraph {
  margin: 3rem auto;
  font-family: courier;
  font-size: 2rem;
  text-align: left;
  max-width: 80%;
}

.paragraph--large {
  font-size: 2rem;
}

.paragraph--fantasy {
  font-family: fantasy;
  color: deeppink;
}

.string-literal-example {
  padding: 1rem 10rem;
  background: lemonchiffon;
  border-style: solid none none;
}