.multipleRadiosContainer {
  background-color: papayawhip;
  width: 50%;
  margin: 25px auto;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);;
  color: darkgoldenrod;
  font: italic small-caps normal 15px/100% Impact, Charcoal, sans-serif;
}

.singleRadioContainer {
  position: relative;
  padding: 3px 25px;
  text-align: left;
  font-size: 12px;
  font-weight: bold;
}

.radioText {
  color: darkred;
  font: italic small-caps normal 12px/125% "Comic Sans MS", cursive, sans-serif;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* to hide the radio itself - doesnt work so far */
/*input[type=radio] { display:none; }*/

input[type=radio] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

 /* icons - need to change depending on checked or not */
input[type=radio] + label:before {
  color: red;
  content: "\f096";
}

input[type=radio]:checked + label:before {
  color: forestgreen;
  content: "\f046";
}

 /* spaces between radio and label - need to change depending if ticked or not */
input[type=radio] + label:before {
  letter-spacing: 10px;
}

input[type=radio]:checked + label:before {
  letter-spacing: 8px;
}